body{
    background-color: rgb(101, 98, 98);
    padding: 20px 70px ;
}
h1, h2, h3{
    color: #fff;
    text-transform: uppercase;
}

img{
    height: 400px;
    width: 500px;
    border-radius: 50%;
}
p{
    color: #fff;
    text-align: justify;
    padding: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}